<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jen's Node Practice</title>
    <link rel="stylesheet" href="/styles.css">
</head>