<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1 class="title">Lesson Checklist Homepage</h1>
    <a href="topics" class="home-link">Check your Node Progress</a>
    <%- include('./partials/footer.ejs') %>
</body>
</html>