<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <h1 class='topics-title'>Node Topics: Check them off as you go!</h1>
    <ul class='topics'>
        <% topics.forEach(function(l) { %>
            <li style="list-style-type: none;" class="box">
                <input type="checkbox" id="scales">
                
                <%= l.topic %>
            
                
            </li>

        <% }) %>
    </ul>
    <section>
    <a href="home" class="back-link">Back Home</a>
    <%- include('../partials/footer.ejs') %>
    </section>
</body>
</html>